spring:
  application:
    name: payment-service
  profiles:
    active: ${ACTIVE_PROFILE:@activeProfiles@}
  datasource:
    jdbc-url: ${DATASOURCE_INSURANCE_JDBC_URL_BASE}
    username: ${DATASOURCE_INSURANCE_DB_APP_USERNAME}
    password: ${DATASOURCE_INSURANCE_DB_APP_PASSWORD}
    connection-timeout: ${DATASOURCE_CONN_TIMEOUT}
    maximum-pool-size: ${DATASOURCE_READER_POOL_SIZE}
    idle-timeout: ${DATASOURCE_READER_POOL_IDLE_TIMEOUT}
    minimum-idle: ${DATASOURCE_READER_POOL_MINIMUM_IDLE}
    max-lifetime: ${DATASOURCE_MAX_LIFETIME}
    driver-class-name: com.mysql.cj.jdbc.Driver
  config:
#    import: file:/app/common-config/spring-boot/${spring.profiles.active}/deployment.properties
    import: file:C:\\Users\\ICAM\\workspace\\common-config\\spring-boot\\local\\deployment.properties
logging:
  level:
#    com.payment.payment_service: ${LOGGING_LEVEL_APP_DEMO}
    org.springframework.web: ${LOGGING_LEVEL_APP_WEB}
    org.springframework.security: ${LOGGING_LEVEL_APP_SECURITY}
    org.springframework.web.cors: ${LOGGING_LEVEL_APP_WEB_CORS}
#    io.minio: ${LOGGING_LEVEL_APP_MINIO}
    org.springframework.jdbc.core: DEBUG
#    org.hibernate.SQL: DEBUG
#    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.batch: ERROR
    root: ${LOGGING_LEVEL_APP_ROOT}
server:
  port: 8083
  address: 0.0.0.0
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
    persist-authorization: true
management:
  endpoints:
    web:
      exposure:
        include: health, info, caches
app:
  basePath: ${APP_REACT_BASE_PATH}
  base-flask-path: ${APP_FLASK_BASE_PATH}
  apiPath: ${APP_API_PATH}
  privateApiPath: ${APP_PRIVATE_API_PATH}
  publicApiPath: ${APP_PUBLIC_API_PATH}

stripe:
  secret-key: ${STRIPE_SECRET_KEY}

okta:
  oauth2:
    issuer: ${OKTA_OAUTH2_ISSUER}
    client-id: ${OKTA_OAUTH2_CLIENT_ID}
    client-secret: ${OKTA_OAUTH2_CLIENT_SECRET}
    audience: ${OKTA_OAUTH2_AUDIENCE}
    grant-type: ${OKTA_OAUTH2_GRANT_TYPE}

security:
  cors:
    allowed-origins:
      - "http://localhost:3000"
      - "http://localhost:5173"
      - "http://localhost:4200"
      - "https://portfolio-portal.mfzrl.cyou"
      - "https://mosque-portal.mfzrl.cyou"
      - "https://insurance-portal.mfzrl.cyou"
    allowed-methods:
      - GET
      - POST
      - PUT
      - PATCH
      - DELETE
      - OPTIONS
    allowed-headers:
      - Authorization
      - Content-Type
      - Cache-Control
      - UserId
    allow-credentials: true
    max-age: 3600